<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

</style>
<title>YGK Home</title>
</head>
<body>

<h2>NAQT "You Gotta Know" - Trainer</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for topics.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Topics</th>
  </tr>
  <tr onclick="window.location='/play/psychological experiments and studies'">
    <td> psychological experiments and studies </td>
    </tr>
    <tr onclick="window.location='/play/magazines from American history'">
    <td> magazines from American history </td>
    </tr>
    <tr onclick="window.location='/play/Supreme Court cases concerned with African-Americans'">
    <td> Supreme Court cases concerned with African-Americans </td>
    </tr>
    <tr onclick="window.location='/play/Romantic-era composers'">
    <td> Romantic-era composers </td>
    </tr>
    <tr onclick="window.location='/play/African-American authors'">
    <td> African-American authors </td>
    </tr>
    <tr onclick="window.location='/play/programming terms'">
    <td> programming terms </td>
    </tr>
    <tr onclick="window.location='/play/pre-1960s movies'">
    <td> pre-1960s movies </td>
    </tr>
    <tr onclick="window.location='/play/Nobel Prize winners in physiology or medicine'">
    <td> Nobel Prize winners in physiology or medicine </td>
    </tr>
    <tr onclick="window.location='/play/popes'">
    <td> popes </td>
    </tr>
    <tr onclick="window.location='/play/short story authors'">
    <td> short story authors </td>
    </tr>
    <tr onclick="window.location='/play/rocks and minerals'">
    <td> rocks and minerals </td>
    </tr>
    <tr onclick="window.location='/play/Native American peoples'">
    <td> Native American peoples </td>
    </tr>
    <tr onclick="window.location='/play/skyscrapers'">
    <td> skyscrapers </td>
    </tr>
    <tr onclick="window.location='/play/20th-century Middle Eastern leaders'">
    <td> 20th-century Middle Eastern leaders </td>
    </tr>
    <tr onclick="window.location='/play/Jewish lifecycle events'">
    <td> Jewish lifecycle events </td>
    </tr>
    <tr onclick="window.location='/play/works of mystery and detective fiction'">
    <td> works of mystery and detective fiction </td>
    </tr>
    <tr onclick="window.location='/play/ancient Greek places'">
    <td> ancient Greek places </td>
    </tr>
    <tr onclick="window.location='/play/circuit components'">
    <td> circuit components </td>
    </tr>
    <tr onclick="window.location='/play/Roman emperors'">
    <td> Roman emperors </td>
    </tr>
    <tr onclick="window.location='/play/modern speeches'">
    <td> modern speeches </td>
    </tr>
    <tr onclick="window.location='/play/postmodern authors'">
    <td> postmodern authors </td>
    </tr>
    <tr onclick="window.location='/play/African-American civil rights leaders'">
    <td> African-American civil rights leaders </td>
    </tr>
    <tr onclick="window.location='/play/massacres'">
    <td> massacres </td>
    </tr>
    <tr onclick="window.location='/play/Arthurian characters'">
    <td> Arthurian characters </td>
    </tr>
    <tr onclick="window.location='/play/works of Russian short fiction'">
    <td> works of Russian short fiction </td>
    </tr>
    <tr onclick="window.location='/play/Dutch paintings'">
    <td> Dutch paintings </td>
    </tr>
    <tr onclick="window.location='/play/chemistry lab techniques'">
    <td> chemistry lab techniques </td>
    </tr>
    <tr onclick="window.location='/play/founders of religious traditions'">
    <td> founders of religious traditions </td>
    </tr>
    <tr onclick="window.location='/play/active volcanoes'">
    <td> active volcanoes </td>
    </tr>
    <tr onclick="window.location='/play/photography pioneers'">
    <td> photography pioneers </td>
    </tr>
    <tr onclick="window.location='/play/mortal women in Greek myth'">
    <td> mortal women in Greek myth </td>
    </tr>
    <tr onclick="window.location='/play/Charles Dickens novels'">
    <td> Charles Dickens novels </td>
    </tr>
    <tr onclick="window.location='/play/assassinations'">
    <td> assassinations </td>
    </tr>
    <tr onclick="window.location='/play/rocket scientists'">
    <td> rocket scientists </td>
    </tr>
    <tr onclick="window.location='/play/early 20th-century art movements'">
    <td> early 20th-century art movements </td>
    </tr>
    <tr onclick="window.location='/play/medieval battles'">
    <td> medieval battles </td>
    </tr>
    <tr onclick="window.location='/play/non-Shakespeare classical English dramas'">
    <td> non-Shakespeare classical English dramas </td>
    </tr>
    <tr onclick="window.location='/play/ballets (part 2)'">
    <td> ballets (part 2) </td>
    </tr>
    <tr onclick="window.location='/play/South American political leaders'">
    <td> South American political leaders </td>
    </tr>
    <tr onclick="window.location='/play/schools of Western philosophy'">
    <td> schools of Western philosophy </td>
    </tr>
    <tr onclick="window.location='/play/ancient empires of the Mediterranean and Near East'">
    <td> ancient empires of the Mediterranean and Near East </td>
    </tr>
    <tr onclick="window.location='/play/ballets'">
    <td> ballets </td>
    </tr>
    <tr onclick="window.location='/play/Revolutionary War battles'">
    <td> Revolutionary War battles </td>
    </tr>
    <tr onclick="window.location='/play/mountains'">
    <td> mountains </td>
    </tr>
    <tr onclick="window.location='/play/scientific experiments'">
    <td> scientific experiments </td>
    </tr>
    <tr onclick="window.location='/play/American third parties'">
    <td> American third parties </td>
    </tr>
    <tr onclick="window.location='/play/space missions'">
    <td> space missions </td>
    </tr>
    <tr onclick="window.location='/play/video game series'">
    <td> video game series </td>
    </tr>
    <tr onclick="window.location='/play/economic concepts'">
    <td> economic concepts </td>
    </tr>
    <tr onclick="window.location='/play/Napoleonic battles'">
    <td> Napoleonic battles </td>
    </tr>
    <tr onclick="window.location='/play/choreographers'">
    <td> choreographers </td>
    </tr>
    <tr onclick="window.location='/play/classifications of mathematical functions'">
    <td> classifications of mathematical functions </td>
    </tr>
    <tr onclick="window.location='/play/Secretaries of State'">
    <td> Secretaries of State </td>
    </tr>
    <tr onclick="window.location='/play/chemical elements'">
    <td> chemical elements </td>
    </tr>
    <tr onclick="window.location='/play/Shakespearean villains'">
    <td> Shakespearean villains </td>
    </tr>
    <tr onclick="window.location='/play/European royal families'">
    <td> European royal families </td>
    </tr>
    <tr onclick="window.location='/play/ancient Greek plays'">
    <td> ancient Greek plays </td>
    </tr>
    <tr onclick="window.location='/play/works by Mozart'">
    <td> works by Mozart </td>
    </tr>
    <tr onclick="window.location='/play/British reform movements'">
    <td> British reform movements </td>
    </tr>
    <tr onclick="window.location='/play/Greek mythological monsters'">
    <td> Greek mythological monsters </td>
    </tr>
    <tr onclick="window.location='/play/authors of speculative fiction'">
    <td> authors of speculative fiction </td>
    </tr>
    <tr onclick="window.location='/play/Supreme Court cases (part 2)'">
    <td> Supreme Court cases (part 2) </td>
    </tr>
    <tr onclick="window.location='/play/American composers'">
    <td> American composers </td>
    </tr>
    <tr onclick="window.location='/play/Mexican leaders'">
    <td> Mexican leaders </td>
    </tr>
    <tr onclick="window.location='/play/campaigns in the Pacific Theater of World War II'">
    <td> campaigns in the Pacific Theater of World War II </td>
    </tr>
    <tr onclick="window.location='/play/works by Ludwig van Beethoven'">
    <td> works by Ludwig van Beethoven </td>
    </tr>
    <tr onclick="window.location='/play/scientific scales'">
    <td> scientific scales </td>
    </tr>
    <tr onclick="window.location='/play/explorers'">
    <td> explorers </td>
    </tr>
    <tr onclick="window.location='/play/20th-century African leaders'">
    <td> 20th-century African leaders </td>
    </tr>
    <tr onclick="window.location='/play/music theory terms'">
    <td> music theory terms </td>
    </tr>
    <tr onclick="window.location='/play/Chinese dynasties'">
    <td> Chinese dynasties </td>
    </tr>
    <tr onclick="window.location='/play/distinctions among types of plants'">
    <td> distinctions among types of plants </td>
    </tr>
    <tr onclick="window.location='/play/British prime ministers'">
    <td> British prime ministers </td>
    </tr>
    <tr onclick="window.location='/play/musicals (part 2)'">
    <td> musicals (part 2) </td>
    </tr>
    <tr onclick="window.location='/play/moons'">
    <td> moons </td>
    </tr>
    <tr onclick="window.location='/play/feminists'">
    <td> feminists </td>
    </tr>
    <tr onclick="window.location='/play/classic American television series'">
    <td> classic American television series </td>
    </tr>
    <tr onclick="window.location='/play/peoples of the early Middle Ages'">
    <td> peoples of the early Middle Ages </td>
    </tr>
    <tr onclick="window.location='/play/North American rivers'">
    <td> North American rivers </td>
    </tr>
    <tr onclick="window.location='/play/battles of the ancient world'">
    <td> battles of the ancient world </td>
    </tr>
    <tr onclick="window.location='/play/anthropologists'">
    <td> anthropologists </td>
    </tr>
    <tr onclick="window.location='/play/20th-century physicists'">
    <td> 20th-century physicists </td>
    </tr>
    <tr onclick="window.location='/play/western European rivers'">
    <td> western European rivers </td>
    </tr>
    <tr onclick="window.location='/play/ancient philosophers'">
    <td> ancient philosophers </td>
    </tr>
    <tr onclick="window.location='/play/aviators'">
    <td> aviators </td>
    </tr>
    <tr onclick="window.location='/play/World War II battles'">
    <td> World War II battles </td>
    </tr>
    <tr onclick="window.location='/play/African bodies of water'">
    <td> African bodies of water </td>
    </tr>
    <tr onclick="window.location='/play/art museums'">
    <td> art museums </td>
    </tr>
    <tr onclick="window.location='/play/musicals (part 1)'">
    <td> musicals (part 1) </td>
    </tr>
    <tr onclick="window.location='/play/deserts'">
    <td> deserts </td>
    </tr>
    <tr onclick="window.location='/play/mathematicians'">
    <td> mathematicians </td>
    </tr>
    <tr onclick="window.location='/play/sculptors'">
    <td> sculptors </td>
    </tr>
    <tr onclick="window.location='/play/treaties'">
    <td> treaties </td>
    </tr>
    <tr onclick="window.location='/play/Supreme Court cases'">
    <td> Supreme Court cases </td>
    </tr>
    <tr onclick="window.location='/play/operas'">
    <td> operas </td>
    </tr>
    <tr onclick="window.location='/play/classes of particles'">
    <td> classes of particles </td>
    </tr>
    <tr onclick="window.location='/play/Asian rivers'">
    <td> Asian rivers </td>
    </tr>
    <tr onclick="window.location='/play/New York Yankees'">
    <td> New York Yankees </td>
    </tr>
    <tr onclick="window.location='/play/architects'">
    <td> architects </td>
    </tr>
    <tr onclick="window.location='/play/20th-century composers'">
    <td> 20th-century composers </td>
    </tr>
    <tr onclick="window.location='/play/Hindu gods and heroes'">
    <td> Hindu gods and heroes </td>
    </tr>
    <tr onclick="window.location='/play/Trojan War heroes'">
    <td> Trojan War heroes </td>
    </tr>
    <tr onclick="window.location='/play/tennis players'">
    <td> tennis players </td>
    </tr>
    <tr onclick="window.location='/play/Latin American authors'">
    <td> Latin American authors </td>
    </tr>
    <tr onclick="window.location='/play/Civil War battles'">
    <td> Civil War battles </td>
    </tr>
    <tr onclick="window.location='/play/Jewish holidays'">
    <td> Jewish holidays </td>
    </tr>
    <tr onclick="window.location='/play/types of computation problems'">
    <td> types of computation problems </td>
    </tr>
    <tr onclick="window.location='/play/quintuples'">
    <td> quintuples </td>
    </tr>
    <tr onclick="window.location='/play/Olympics (pre-2000)'">
    <td> Olympics (pre-2000) </td>
    </tr>
    <tr onclick="window.location='/play/American warships'">
    <td> American warships </td>
    </tr>
    <tr onclick="window.location='/play/common mistakes (part 2)'">
    <td> common mistakes (part 2) </td>
    </tr>
    <tr onclick="window.location='/play/religious texts'">
    <td> religious texts </td>
    </tr>
    <tr onclick="window.location='/play/British monarchs'">
    <td> British monarchs </td>
    </tr>
    <tr onclick="window.location='/play/Norse gods'">
    <td> Norse gods </td>
    </tr>
    <tr onclick="window.location='/play/medieval Islamic dynasties'">
    <td> medieval Islamic dynasties </td>
    </tr>
    <tr onclick="window.location='/play/animal phyla'">
    <td> animal phyla </td>
    </tr>
    <tr onclick="window.location='/play/common mistakes'">
    <td> common mistakes </td>
    </tr>
    <tr onclick="window.location='/play/American plays'">
    <td> American plays </td>
    </tr>
    <tr onclick="window.location='/play/golfers'">
    <td> golfers </td>
    </tr>
    <tr onclick="window.location='/play/Russian tsars'">
    <td> Russian tsars </td>
    </tr>
    <tr onclick="window.location='/play/psychologists'">
    <td> psychologists </td>
    </tr>
    <tr onclick="window.location='/play/20th-century paintings'">
    <td> 20th-century paintings </td>
    </tr>
    <tr onclick="window.location='/play/elections'">
    <td> elections </td>
    </tr>
    <tr onclick="window.location='/play/Egyptian deities'">
    <td> Egyptian deities </td>
    </tr>
    <tr onclick="window.location='/play/Japanese authors'">
    <td> Japanese authors </td>
    </tr>
    <tr onclick="window.location='/play/Hockey Hall of Famers'">
    <td> Hockey Hall of Famers </td>
    </tr>
    <tr onclick="window.location='/play/Revolutionary War generals'">
    <td> Revolutionary War generals </td>
    </tr>
    <tr onclick="window.location='/play/organelles'">
    <td> organelles </td>
    </tr>
    <tr onclick="window.location='/play/kings of France'">
    <td> kings of France </td>
    </tr>
    <tr onclick="window.location='/play/economists'">
    <td> economists </td>
    </tr>
</table>

<script>

  jQuery(document).ready(function($) {
  $(".clickable").click(function() {
      window.location = $(this).data("href");
  });
});

function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</body>
</html>
